#!/bin/bash

# Location of projects
PROJECTS_DIR=~/Projects

# Location of GitHub projects
GITHUB_PROJECTS_DIR=$PROJECTS_DIR/github.com

# Install dotfiles?
DOTFILES_INSTALL=true

# dotfiles repo (related to GitHub)
DOTFILES_REPO=paulojeronimo/dotfiles

# Install sdkman?
SDKMAN_INSTALL=true

### Tools installed via SDKMAN: begin
#
#

# Install java?
JAVA_INSTALL=true

# Install maven?
MAVEN_INSTALL=true

# Install gradle?
GRADLE_INSTALL=true

#
#
### Tools installed via SDKMAN: end
